
<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi ubicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
        Obtener ubicacion
    </ion-button>
    <ion-list>
        <ion-list-header>
          Coordenadas de la ubicacion
        </ion-list-header>
        <ion-item>
          <ion-label>Latitude</ion-label>
          <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Longitud</ion-label>
          <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Maps</ion-label>
          <ion-badge color="danger" slot="end">{{url}}</ion-badge>
        </ion-item>
    </ion-list>
  </div>
<!-- 
  <div>
    <iframe
    src="getMap()"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div> -->

</ion-content>